* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}
body {
    font-family: "Gidole", sans-serif;
    position: relative;
}
a {
    text-decoration: none;
    color: black;
}
ul > li {
    list-style: none;
}
header {
    padding-inline: 2rem;
    padding-block: .5rem;
    background-color: black;
}

.grid {
    display: grid;
}
.flex { 
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.center {
    display: grid;
    place-content: center;
}
.center-align {
    text-align: center;
}
.center-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

/*--------------- MENSAGE ----------------*/
.message {
    position: sticky;
    top: 0px;
    z-index: 9999;
}
.my-message {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #080808;
    opacity: .8;
}
.message-img {
    position: absolute;
    width: 100%;
    height: 100vh;
}
.message-a {
    position: relative;
}
.message-img img {
    width: 24rem;
    border-radius: 10px;
}

#close {
    position: absolute;
    top: -20px;
    left: 450px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/*------------- ANIMATION BUTTON -------------*/
.pulsate-fwd {
	-webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
	        animation: pulsate-fwd 1s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
@keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

/*--------------  HEADER -----------------*/
.column-header {
    grid-template-columns: repeat(2, auto);
}
.title-logo {
    flex-direction: row;
    gap: .5rem;
}
.title-logo img {
    width: 15rem;
}
.navegation {
    flex-direction: row-reverse;
}
.navegation ul > li > a {
    font-size: clamp(15px, 3vw, 16px);
    text-transform: uppercase;
    color: white;
    transition: all .3s ease-in-out;
}
.gap5rem {
    gap: 5rem
}
#burgercheck {
    display: none;
}
.burger-icon {
    display: none;
    color: white;
}
.logo-burger {
    display: none;
}
.title-logo div > h1 {
    color: #401e08;
}

/*--------------  BANNER -----------------*/
.banner img {
    width: 100%;
}

/*--------------  CATEGORIAS -----------------*/
.categorias {
    padding-block: 5rem;
    margin-top: -0.3rem;
    background-color: black;
}
.item-img img {
    width: 34.7rem;
    height: 720px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}
.item-img img:hover {
    scale: 1.03;
}
.item-img2 img {
    width: 23rem;
    height: 346px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}
.item-img2 img:hover {
    scale: 1.03;
}
.cat-column-2 {
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
}
.cat-subcolumn-2 {
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
}

/*--------------  PRODUCTOS -----------------*/
.productos section {
    margin-bottom: 10rem;
}
.productos-column-3 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 2.61rem;
}
.img-producto img {
    width: 120px;
    height: 300px;
    filter: drop-shadow(0px 0px 6px #c5c4c4);
    position: relative;
    top: -5px;
    transition: all .3s ease-in-out;
}
.item-producto {    
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 200px;
    height: 375px;
}
.item-producto:hover {
    .img-producto img {
        scale: 1.1;
    }
}
.my-item {
    position: relative;
    top: -8rem;
}
.gap1-3rem {
    gap: 1.3rem;
}
.text-producto {
    font-size: clamp(20px, 3vw, 22px);
    text-transform: uppercase;
    color: #401e08;
    font-weight: 680;
}
.description {
    font-size: clamp(15px, 3vw, 16px);
    text-align: center;
    color: #401e08;
}
.precio {
    background-color: #e39f1d;
    color: #401e08;
    font-size: clamp(15px, 3vw, 28px);
    width: 20px;
    position: absolute;
    z-index: 1;
    padding: .7rem 1rem .7rem 1rem;
    border-radius: 100%;
}
.button-producto button {
    color: #401e08 ;
    background-color: #f4e493;
    border: 1.8px solid #ebbe34;
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4rem;
    transition: all .3s ease-in-out;
}
.button-producto button:hover {
    cursor: pointer;
    color: white;
    background-color: #c97c16;
}
.title-section {
    font-size: clamp(25px, 3vw, 40px);
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: white;
}
.text-section {
    font-size: clamp(17px, 3vw, 20px);
    color: white;

}

/*--------------  FOOTER -----------------*/
footer {
    background-color: #FDFAE9;
}
.flex-2 {
    flex-direction: column;
}
.flex-2 h2 {
    font-size: clamp(18px, 3vw, 20px);
    text-transform: uppercase;
    color: #401e08;
    margin-top: 1rem;
    margin-bottom: 2.3rem;
}
.flex-2 > a {
    font-size: clamp(14px, 3vw, 16px);
    color: #401e08;
}
.footer {
    padding: 5rem;
}
.title-footer {
    font-size: clamp(22px, 3vw, 30px);
    color: white;
    text-transform: uppercase;
}
.text-footer {
    font-size: clamp(15px, 3vw, 22px);
    color: white;
    text-align: justify;
}
.footer-flex {
    gap: 2rem;
}
.footer-column-2 {
    grid-template-columns: 470px 350px;
    gap: 4rem;
}
.button-footer button {
    font-size: clamp(15px, 3vw, 20px);
    background-color: #f4e493;
    color: #401e08;
    padding-block: .8rem;
    padding-inline: 3rem;
    border-radius: 5rem;
    text-transform: uppercase;
    transition: all .3s
}
.button-footer button:hover {
    cursor: pointer;
    background-color: #efd15a;
}
.img-footer {
    position: relative;
}
.img-footer img {
    width: 30rem;
    position: absolute;
    left: -79px;
    top: -170px;
}
.footer-column-2-2 {
    grid-template-columns: repeat(2, auto);
    gap: 3.4rem;
}
.footer-column-3 {
    grid-template-columns: repeat(3, auto);
    gap: 8rem;
}
.fa-phone, .fa-envelope {
    font-size: clamp(27px, 3vw, 30px);
    color: #4E2A14;
}
.text-logo {
    font-size: clamp(15px, 3vw, 22px);
    color: #401e08;
}
.title-telefono {
    gap: 1.4rem;
    padding: 1rem;
    padding-inline: 1.4rem;
    color: #401e08;
}
.title-telefono div > a {
    font-size: clamp(18px, 3vw, 20px);
}
.title-email {
    gap: 1.4rem;
    padding: 1rem;
    padding-inline: 1.4rem;
    color: #401e08;
}
.title-email div > a {
    font-size: clamp(18px, 3vw, 20px);
}
.social-media {
    padding: 1rem;
}
.gap-footer {
    gap: 3rem;
}
.gap-footer-2 {
    gap: 5rem;
}
.gap-footer-3 {
    gap: 1.5rem;
}
.social {
    color: #4E2A14;
    background-color: #efd15a;
    font-size: 19px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    transition: all .4s ease-in-out;
}
.social-f:hover {
    background-color: #3b5998;
    color: #fdfbed;
}
.social-i:hover {
    background: #C13584;
    color: #fdfbed;
}
.social-w:hover {
    background-color: #25d366;
    color: #fdfbed;
}

@media (min-width: 1846px) {
    /*--------------  PRODUCTOS -----------------*/
    .productos {
        padding-block: 5rem;
        background-image: url(https://cdn.prod.website-files.com/680f81021936b0d565d34173/680f8152de755569d5e8bd02_04dc0f9c210b60f1ba384bea6fb8331d_Fondo-Producto.png);
        background-size: cover;
    }
}
@media (1014px < width < 1845px) {
    /*--------------  PRODUCTOS -----------------*/
    .productos {
        padding-block: 5rem;
        background-image: url(https://cdn.prod.website-files.com/680f81021936b0d565d34173/680f8152de755569d5e8bd02_04dc0f9c210b60f1ba384bea6fb8331d_Fondo-Producto.png);
        background-size: contain;
    }
}
@media (min-width: 1013px) {
    /*------------- FOOTER -------------*/
    .my-footer {
        background-color: #6F2601;
        border-radius: 15px;
        padding-inline: 3.2rem;
        padding-block: 2.5rem;
        height: 100%;
    }
    .my-footer2 {
        padding-top: 12rem;
        padding-inline: 3.6rem;
    }
} 
@media (850px < width < 1012px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 29px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 15rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    /*-------------- CATEGORIAS --------------*/
    .categorias {
        padding-block: 3rem;
    } 
    .cat-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 1.5rem;
    }
    .item-img img {
        width: 30rem;
        height: 100%;
    }
    .item-img2 img {
        width: 30rem;
        height: 100%;
    }

    /*--------------  PRODUCTOS -----------------*/
    .productos {
        background-image: url(https://cdn.prod.website-files.com/680f81021936b0d565d34173/680f8152de755569d5e8bd02_04dc0f9c210b60f1ba384bea6fb8331d_Fondo-Producto.png);
        background-size: contain;
    }
    .productos {
        padding-block: 3rem;
    }
    .productos section {
        margin-bottom: 5rem;
    }
    .img-producto img {
        width: 100px;
        height: 250px;
    }
    .item-producto {
        width: 200px;
        height: 355px;
        padding: 2rem;
        margin-top: 3.4rem;
    }
    .my-item {
        position: relative;
        top: -6rem;
    }
    
    /*-------------- FOOTER --------------*/ 
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        background-color: #6F2601;
        padding: 0;
        height: 100%;
        border-radius: 15px;
    }
    .footer-flex {
        padding: 3rem;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(3, auto);
        gap: 3rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}
@media (650px < width < 849px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 29px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 15rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*-------------- CATEGORIAS --------------*/
    .categorias {
        padding-block: 3rem;
    } 
    .cat-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 1.5rem;
    }
    .item-img img {
        width: 30rem;
        height: 100%;
    }
    .item-img2 img {
        width: 30rem;
        height: 100%;
    }

    /*--------------  PRODUCTOS -----------------*/
    .productos {
        background-image: url(https://cdn.prod.website-files.com/680f81021936b0d565d34173/680f8152de755569d5e8bd02_04dc0f9c210b60f1ba384bea6fb8331d_Fondo-Producto.png);
        background-size: contain;
    } 
    .productos {
        padding-block: 3rem;
    }
    .productos section {
        margin-bottom: 4rem;
    }
    .img-producto img {
        width: 100px;
        height: 250px;
    }
    .item-producto {
        width: 200px;
        height: 355px;
        padding: 2rem;
        margin-top: 3.4rem;
    }
    .my-item {
        position: relative;
        top: -6rem;
    }

    /*-------------- FOOTER --------------*/ 
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        border-radius: 0;
        padding: 0;
        height: 100%;
    }
    .footer-flex {
        background-color: #6F2601;
        border-radius: 15px;
        padding: 3rem;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column: inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 3rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}

@media (max-width: 649px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 29px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 15rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*------------- MESSAGE ------------*/
    .my-message {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #080808;
        opacity: .8;
    }
    .message-img {
        position: absolute;
        width: 100%;
        height: 100vh;
    }
    .message-img img {
        width: 22rem;
        border-radius: 10px;
    }
    
    #close {
        position: absolute;
        top: -20px;
        left: 400px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    

    /*-------------- CATEGORIAS --------------*/ 
    .categorias {
        padding-block: 3rem;
    } 
    .cat-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 1.5rem;
    }
    .item-img,.item-img2 {
        padding-inline: 3rem;
    }
    .item-img img {
        width: 100%;
        height: 100%;
    }
    .item-img2 img {
        width: 100%;
        height: 100%;
    }

    /*--------------  PRODUCTOS -----------------*/
    .productos {
        background-image: url(https://cdn.prod.website-files.com/680f81021936b0d565d34173/680f8152de755569d5e8bd02_04dc0f9c210b60f1ba384bea6fb8331d_Fondo-Producto.png);
        background-size: contain;
    }
    .productos {
        padding-block: 3rem;
    } 
    .productos section {
        margin-bottom: 5.5rem;
    }
    .productos-column-3 {
        gap: 4rem;
    }
    .text-section {
        width: 350px;
    }
    .item-producto {
        width: 200px;
        height: 400px;
        padding: 2rem;
        margin-top: 3.4rem;
    }
    .my-item {
        position: relative;
        top: -6rem;
    }

    /*-------------- FOOTER --------------*/ 
    .footer {
        padding: 3rem;
    }
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        height: 100%;
    }
    .footer-flex {
        background-color: #6F2601;
        padding: 3rem;
        border-radius: 15px;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}

@media (max-width: 450px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .title-logo img {
        width: 10rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul li > a {
        color: white;
    } 
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 10rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*------------- MESSAGE -------------*/
    .message-img img {
        width: 14rem;
        border-radius: 10px;
    }
    
    #close {
        position: absolute;
        top: -20px;
        left: 290px;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }


    /*-------------- CATEGORIAS --------------*/ 
    .categorias {
        padding-block: 3rem;
    } 
    .cat-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 1.5rem;
    }
    .item-img,.item-img2 {
        padding-inline: 3rem;
    }
    .item-img img {
        width: 100%;
        height: 100%;
    }
    .item-img2 img {
        width: 100%;
        height: 100%;
    }

    /*--------------  PRODUCTOS -----------------*/
    .productos {
        background-image: url(https://cdn.prod.website-files.com/680f81021936b0d565d34173/680f8152de755569d5e8bd02_04dc0f9c210b60f1ba384bea6fb8331d_Fondo-Producto.png);
        background-size: contain;
    }
    .productos {
        padding-block: 3rem;
    } 
    .productos section {
        margin-bottom: 5rem;
    }
    .text-section {
        width: 250px;
    }
    .productos-column-3 {
        gap: 4.5rem;
    }
    .img-producto img {
        width: 100px;
        height: 250px;
    }
    .item-producto {
        width: 190px;
        height: 350px;
        padding: 1.3rem;
    }
    .my-item {
        position: relative;
        top: -6rem;
    }
    .button-producto button {
        padding: 1rem 1.5rem;
    }
    

    /*-------------- FOOTER --------------*/ 
    .footer {
        padding: 3rem;
    }
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        height: 100%;
    }
    .footer-flex {
        background-color: #6F2601;
        border-radius: 15px;
        padding: 3rem;
        width: 230px;
    }
    .title-footer {
        text-align: center;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 2rem;
        padding-inline: 1rem;
    }
}

@media (max-width: 350px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .title-logo img {
        width: 10rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul li > a {
        color: white;
    } 
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 10rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*------------- MESSAGE -------------*/
    .message-img img {
        width: 13rem;
        border-radius: 10px;
    }
    
    #close {
        position: absolute;
        top: -20px;
        left: 235px;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }


    /*-------------- CATEGORIAS --------------*/ 
    .categorias {
        padding-block: 3rem;
    } 
    .cat-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 1.5rem;
    }
    .item-img,.item-img2 {
        padding-inline: 3rem;
    }
    .item-img img {
        width: 100%;
        height: 100%;
    }
    .item-img2 img {
        width: 100%;
        height: 100%;
    }

    /*--------------  PRODUCTOS -----------------*/
    .productos {
        background-image: url(https://cdn.prod.website-files.com/680f81021936b0d565d34173/680f8152de755569d5e8bd02_04dc0f9c210b60f1ba384bea6fb8331d_Fondo-Producto.png);
        background-size: contain;
    } 
    .productos {
        padding-block: 3rem;
    } 
    .productos section {
        margin-bottom: 5rem;
    }
    .text-section {
        width: 250px;
    }
    .productos-column-3 {
        gap: 5rem;
    }
    .img-producto img {
        width: 100px;
        height: 250px;
    }
    .item-producto {
        width: 190px;
        height: 350px;
        padding: 1.3rem;
    }
    .button-producto button {
        padding: 1rem 1.5rem;
    }

    /*-------------- FOOTER --------------*/ 
    .footer {
        padding: 3rem;
    }
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        height: 100%;
    }
    .footer-flex {
        background-color: #6F2601;
        border-radius: 15px;
        padding: 3rem;
        width: 180px;
    }
    .title-footer {
        text-align: center;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 1rem;
    }
}

@media (max-width: 280px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .title-logo img {
        width: 10rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul li > a {
        color: white;
    } 
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 10rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*------------- MESSAGE -------------*/
    .message-img img {
        width: 10rem;
        border-radius: 10px;
    }
    
    #close {
        position: absolute;
        top: -20px;
        left: 235px;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }


    /*-------------- CATEGORIAS --------------*/ 
    .categorias {
        padding-block: 3rem;
    } 
    .cat-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 1.5rem;
    }
    .item-img,.item-img2 {
        padding-inline: 3rem;
    }
    .item-img img {
        width: 100%;
        height: 100%;
    }
    .item-img2 img {
        width: 100%;
        height: 100%;
    }

    /*--------------  PRODUCTOS -----------------*/
    .productos {
        background-image: url(https://cdn.prod.website-files.com/680f81021936b0d565d34173/680f8152de755569d5e8bd02_04dc0f9c210b60f1ba384bea6fb8331d_Fondo-Producto.png);
        background-size: contain;
    } 
    .productos {
        padding-block: 3rem;
    } 
    .productos section {
        margin-bottom: 5rem;
    }
    .text-section {
        width: 250px;
    }
    .productos-column-3 {
        gap: 5rem;
    }
    .img-producto img {
        width: 100px;
        height: 250px;
    }
    .item-producto {
        width: 190px;
        height: 350px;
        padding: 1.3rem;
    }
    .button-producto button {
        padding: 1rem 1.5rem;
    }

    /*-------------- FOOTER --------------*/ 
    .footer {
        padding: 3rem;
    }
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        height: 100%;
    }
    .footer-flex {
        background-color: #6F2601;
        border-radius: 15px;
        padding: 3rem;
        width: 180px;
    }
    .title-footer {
        text-align: center;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 1rem;
    }
}