* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}
body {
    font-family: "Gidole", sans-serif;
}
/* body {
    background-image: url(https://thumbs.dreamstime.com/b/modelo-de-la-producci%C3%B3n-cerveza-incons%C3%BAtil-120824598.jpg);
    background-attachment: fixed;
} */
a {
    text-decoration: none;
    color: black;
}
ul > li {
    list-style: none;
}
header {
    padding-inline: 2rem;
    padding-block: .6rem;
    /* top: 0px; */
    /* position: sticky; */
    /* z-index: 2; */
    background-color: white;
}

.grid {
    display: grid;
}
.flex { 
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.center {
    display: grid;
    place-content: center;
}

/*--------------  HEADER -----------------*/
.column-header {
    grid-template-columns: repeat(2, auto);
}
.title-logo {
    flex-direction: row;
    gap: .5rem;
}
.title-logo img {
    width: 4.5rem;
}
.navegation {
    flex-direction: row-reverse;
}
.navegation ul > li > a {
    font-size: clamp(16px, 3vw, 17px);
    text-transform: uppercase;
}
.gap5rem {
    gap: 5rem
}
#burgercheck {
    display: none;
}
.burger-icon {
    display: none;
}
.logo-burger {
    display: none;
}

/*--------------  VER PRODUCTO -----------------*/
.ver-producto {
    padding-block: 5rem;
}
.ver-producto-2 {
    padding: 2rem;
    gap: 2rem;
}
.ver-producto-column {
    grid-template-columns: repeat(1, auto);
}
.ver-producto-column-2 {
    grid-template-columns: repeat(2, auto);
    gap: 4rem;
}
.producto-img {
    background-color: rgb(77, 76, 76);
    padding: 5rem;
    border-radius: 1rem;
}
.producto-title {
    font-size: clamp(23px, 3vw, 27px);
    text-transform: uppercase;
}
.producto-text {
    font-size: clamp(15px, 3vw, 19px);
    text-align: justify;
}
.producto-precio {
    font-size: clamp(25px, 3vw, 30px);
    text-transform: uppercase;
    font-weight: 600;
}
.producto-buttons {
    gap: 1rem;
}
.producto-info, .producto-comprar {
    cursor: pointer;
}
.producto-info {
    width: 100%;
    font-size: clamp(14px, 3vw, 18px);
    padding: .7rem;
    border-radius: .2rem;  
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    transition: all .3s;
}
.producto-info:hover,.producto-comprar:hover {
    opacity: .7;
}
.producto-comprar {
    width: 100%;
    font-size: clamp(14px, 3vw, 18px);
    padding: .7rem;
    border-radius: .2rem; 
    background-color: black;
    color: white;
    text-transform: uppercase;
    transition: all .3s;
}

/*-------------- PRODUCTOS -----------------*/
.productos {
    padding-block: 5rem;
    background-color: #D9D9D9;
}
.productos section {
    margin-bottom: 4rem;
}
.productos-column-3 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 2.5rem;
}
.img-producto img {
    width: 120px;
    position: relative;
}
.item-producto {    
    background-color: black;
    border-radius: 1rem;
    padding: 2rem;
    gap: 1.3rem;
    height: 500px;
}
.text-producto {
    font-size: clamp(20px, 3vw, 22px);
    text-transform: uppercase;
}
.description {
    font-size: clamp(15px, 3vw, 16px);
    text-align: center;
}
.text-producto, .description {
    color: white;
}
.precio {
    background-color: #F82020;
    color: white;
    font-size: clamp(15px, 3vw, 28px);
    width: 20px;
    position: absolute;
    z-index: 1;
    padding: .7rem 1rem .7rem 1rem;
    border-radius: 100%;
}
.button-producto button {
    color: white;
    background-color: #F82020;
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4rem;
    transition: all .5s;
}
.button-producto button:hover {
    cursor: pointer;
    background-color: white;
    color: #F82020;
}
.title-section {
    font-size: clamp(30px, 3vw, 40px);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.text-section {
    font-size: clamp(10px, 3vw, 20px);
    color: rgb(44, 43, 43)
}


/*--------------  FOOTER -----------------*/
.flex-2 {
    flex-direction: column;
}
.flex-2 h2 {
    font-size: clamp(20px, 3vw, 22px);
    margin-top: 1rem;
    margin-bottom: 2.3rem;
}
.flex-2 > a {
    text-transform: uppercase;
}
.footer {
    padding: 5rem;
}
.my-footer {
    background-color: black;
    border-radius: 15px;
    padding: 3.2rem;
    /* width: 63rem; */
    height: 100%;
}
.title-footer {
    font-size: clamp(22px, 3vw, 30px);
    color: white;
    text-transform: uppercase;
}
.text-footer {
    font-size: clamp(15px, 3vw, 22px);
    color: white;
    text-align: justify;
}
.footer-flex {
    gap: 2rem;
}
.footer-column-2 {
    grid-template-columns: 470px 350px;
    gap: 3.6rem;
}
.button-footer button {
    font-size: clamp(10px, 3vw, 20px);
    background-color: #D9D9D9;
    color: black;
    padding-block: .8rem;
    padding-inline: 3rem;
    border-radius: 5rem;
    text-transform: uppercase;
    transition: all .3s
}
.button-footer button:hover {
    cursor: pointer;
    background-color: black;
    box-shadow: 1px 1px 6px white;
    color: #D9D9D9
}
.img-footer {
    position: relative;
}
.img-footer img {
    width: 30rem;
    position: absolute;
    left: -79px;
    top: -170px;
}
.footer-column-2-2 {
    grid-template-columns: repeat(2, auto);
    gap: 8rem;
}
.footer-column-3 {
    grid-template-columns: repeat(3, auto);
    gap: 8rem;
}
.my-footer2 {
    padding-top: 12rem;
    padding-inline: 3.6rem;
}
.fa-phone, .fa-envelope {
    font-size: clamp(27px, 3vw, 30px);
}
.text-logo {
    font-size: clamp(15px, 3vw, 22px);
}
.title-telefono {
    gap: 2.1rem;
    padding: 1rem;
}
.title-telefono div > a {
    font-size: clamp(15px, 3vw, 20px);
}
.title-email {
    gap: 2.1rem;
    padding: 1rem;
}
.title-email div > a {
    font-size: clamp(15px, 3vw, 20px);
}
.social-media {
    padding: 1rem;
}
.gap-footer {
    gap: 3rem;
}
.gap-footer-2 {
    gap: 5rem;
}
.gap-footer-3 {
    gap: 1.7rem;
}
.gap-footer-3 a {
    font-size: clamp(15px, 3vw, 17x);
}
.social {
    color: white;
    background-color: black;
    font-size: 18px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    transition: all .4s;
}
.social-f:hover {
    background-color: #3b5998;
}
.social-i:hover {
    background: #C13584;
}
.social-w:hover {
    background-color: #25d366;
}

@media (min-width: 1013px) {
    .ver-producto article {
        width: 980px;
    }
}
@media (850px < width < 1012px) {
    /*-------------- VER PRODUCTO --------------*/ 
    .ver-producto {
        padding-inline: 5rem;
    }
    .ver-producto article {
        width: 600px;
    }
    .ver-producto-column-2 {
        grid-template-columns: repeat(1, auto);
    }

    /*-------------- FOOTER --------------*/ 
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        background-color: white;
        border-radius: 0;
        padding: 0;
        /* width: 63rem; */
        height: 100%;
    }
    .footer-flex {
        background-color: black;
        border-radius: 15px;
        padding: 3rem;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(3, auto);
        gap: 3rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}

@media (650px < width < 849px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 24px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 7rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*-------------- VER PRODUCTO --------------*/
    .productos {
        padding-block: 3rem;
    } 
    .productos section {
        margin-bottom: 3rem;
    }
    .ver-producto {
        padding-inline: 5rem;
    }
    .ver-producto article {
        width: 600px;
    }
    .ver-producto-column-2 {
        grid-template-columns: repeat(1, auto);
    }


    /*-------------- FOOTER --------------*/ 
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        background-color: white;
        border-radius: 0;
        padding: 0;
        /* width: 63rem; */
        height: 100%;
    }
    .footer-flex {
        background-color: black;
        border-radius: 15px;
        padding: 3rem;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 3rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}

@media (max-width: 649px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 24px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 7rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*-------------- VER PRODUCTO --------------*/
    .productos {
        padding-block: 3rem;
    } 
    .productos section {
        margin-bottom: 3rem;
    } 
    .ver-producto {
        padding-inline: 3rem;
    }
    .ver-producto {
        padding-block: 3rem;
    }
    .ver-producto-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 1rem;
    }

    /*-------------- FOOTER --------------*/ 
    .footer {
        padding: 3rem;
    }
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        background-color: white;
        border-radius: 0;
        padding: 0;
        /* width: 63rem; */
        height: 100%;
    }
    .footer-flex {
        background-color: black;
        border-radius: 15px;
        padding: 3rem;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}

@media (max-width: 450px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 24px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 7rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*-------------- VER PRODUCTO --------------*/
    .productos {
        padding-block: 3rem;
    } 
    .productos section {
        margin-bottom: 3rem;
    } 
    .ver-producto {
        padding-inline: 3rem;
    }
    .ver-producto {
        padding-block: 3rem;
    }
    .ver-producto-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 1rem;
    }

    /*-------------- CATEGORIAS --------------*/ 
    .categorias {
        padding-block: 3rem;
    } 
    .cat-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 1rem;
    }
    .item-img, .item-img2 {
        padding-inline: 3rem;
    }
    .item-img img {
        /* height: 100%; */
        width: 100%;
        height: 100%;
    }
    .item-img2 img {
        width: 100%;
        height: 100%;
    }

    /*-------------- PRODUCTOS --------------*/ 
    .productos {
        padding-block: 3rem;
    } 
    .productos section {
        margin-bottom: 3rem;
    }

    /*-------------- FOOTER --------------*/ 
    .footer {
        padding: 3rem;
    }
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        background-color: white;
        border-radius: 0;
        padding: 0;
        /* width: 63rem; */
        height: 100%;
    }
    .footer-flex {
        background-color: black;
        border-radius: 15px;
        padding: 3rem;
        width: 200px;
    }
    .title-footer {
        text-align: center;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}