* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}
body {
    font-family: "Gidole", sans-serif;
    position: relative;
}
a {
    text-decoration: none;
    color: black;
}
ul > li {
    list-style: none;
}
header {
    padding-inline: 2rem;
    background-color: black;
}

.grid {
    display: grid;
}
.flex { 
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.center {
    display: grid;
    place-content: center;
}
.center-align {
    text-align: center;
}
.center-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

/*--------------  HEADER -----------------*/
.column-header {
    grid-template-columns: repeat(2, auto);
}
.title-logo {
    flex-direction: row;
    gap: .5rem;
}
.title-logo img {
    width: 15rem;
}
.navegation {
    flex-direction: row-reverse;
}
.navegation ul > li a {
    font-size: clamp(15px, 3vw, 16px);
    text-transform: uppercase;
    color: white;
    transition: all .3s ease-in-out;
}
.gap5rem {
    gap: 5rem
}
#burgercheck {
    display: none;
}
.burger-icon {
    display: none;
    color: white;
}
.logo-burger {
    display: none;
}
.title-logo div > h1 {
    color: #401e08;
}

/*----------- UPDATE HEADER ------------------*/
#enlace-servicio, #enlace-servicio-2 {
    position: relative;
    cursor: pointer;
}
.item-enlace {
    position: absolute;
    z-index: -1;
    top: -200px;
    left: -10px;
    background-color: rgb(29, 29, 29); 
    color: white;
    transition: all .3s ease-in-out;
    padding: 1rem;
    width: 150px;
}
#enlace-servicio:hover {
    .item-enlace {
        top: 70px;
    }
}
.gap-enlace {
    gap: 1rem;
}

@media (850px < width < 1012px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 29px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 15rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*----------- UPDATE HEADER ------------------*/
    #enlace-servicio, #enlace-servicio-2 {
        position: relative;
        cursor: pointer;
    }
    .item-enlace {
        position: absolute;
        z-index: 1;
        top: 25px;
        left: -700px;
        background-color: rgb(29, 29, 29); 
        color: white;
        padding: 1rem;
        transition: all .3s ease-in-out;
        width: 300px;
        max-width: 300px;
    }
    #enlace-servicio:hover {
        .item-enlace {
            top: 25px;
            left: -15px;
        }
    }

}
@media (650px < width < 849px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 29px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 15rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*----------- UPDATE HEADER ------------------*/
    #enlace-servicio, #enlace-servicio-2 {
        position: relative;
        cursor: pointer;
    }
    .item-enlace {
        position: absolute;
        z-index: 1;
        top: 25px;
        left: -700px;
        background-color: rgb(29, 29, 29); 
        color: white;
        padding: 1rem;
        transition: all .3s ease-in-out;
        width: 200px;
    }
    #enlace-servicio:hover {
        .item-enlace {
            top: 25px;
            left: 10px;
        }
    }
}

@media (max-width: 649px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 29px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 15rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*----------- UPDATE HEADER ------------------*/
    #enlace-servicio, #enlace-servicio-2 {
        position: relative;
        cursor: pointer;
    }
    .item-enlace {
        position: absolute;
        z-index: 1;
        top: 25px;
        left: -700px;
        background-color: rgb(29, 29, 29); 
        color: white;
        padding: 1rem;
        transition: all .3s ease-in-out;
        width: 200px;
    }
    #enlace-servicio:hover {
        .item-enlace {
            top: 25px;
            left: -500px;
        }
    }
}

@media (max-width: 450px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .title-logo img {
        width: 10rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul li > a {
        color: white;
    } 
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 10rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

}

@media (max-width: 350px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .title-logo img {
        width: 10rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul li > a {
        color: white;
    } 
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 10rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }
}