* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}
body {
    font-family: "Gidole", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
ul > li {
    list-style: none;
}
header {
    padding-inline: 2rem;
    padding-block: .5rem;
    background-color: black;
}

.grid {
    display: grid;
}
.flex { 
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.center {
    display: grid;
    place-content: center;
}

/*--------------  HEADER -----------------*/
.column-header {
    grid-template-columns: repeat(2, auto);
}
.title-logo {
    flex-direction: row;
    gap: .5rem;
}
.title-logo img {
    width: 15rem;
}
.navegation {
    flex-direction: row-reverse;
}
.navegation ul > li > a {
    font-size: clamp(15px, 3vw, 16px);
    text-transform: uppercase;
    color: white;
    transition: all .3s ease-in-out;
}
.gap5rem {
    gap: 5rem
}
#burgercheck {
    display: none;
}
.burger-icon {
    display: none;
    color: white;
}
.logo-burger {
    display: none;
}
.title-logo div > h1 {
    color: #401e08;
}

/*-------------- SERVICIOS ----------------*/
.servicios {
    padding: 5rem;
}
.title-servicios {
    padding-bottom: 5rem;
    text-transform: uppercase;
    color: #401e08;
    font-size: clamp(20px, 3vw, 29px);
}
.ser-column-2 {
    grid-template-columns: repeat(2, auto);
    gap: 5rem;
}
.item {
    background-color: #f7d54d;
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    height: 330px;
    position: relative;
    top: 0rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(196, 196, 196);
}
.item:hover {
    top: -1rem;
    .ser-logo {
        scale: 1.04;
    }
}
.item-s {
    position: absolute;
    top: -3rem;
    padding: 30px;
    height: 380px;
}
.ser-logo {
    background-color: #fae98e;
    border-radius: 15px;
    height: 200px;
    transition: all .3s ease-in-out;
    border: 1px solid #c4c4c4;
}
.ser-logo img {
    width: 100%;
    border-radius: 15px;
    height: 200px;
    object-fit: fill;
}
.ser-title {
    color: #401e08; 
    font-size: clamp(10px, 3vw, 12.1px);
}
.ser-text {
    color: #401e08;
    font-size: clamp(15px, 3vw, 17px);
}
.ser-enlace {
    background-color: #f2be1d;
    padding: 1rem;
    border-radius: 8px;
    text-transform: uppercase;
    color: #401e08;
    transition: all .3s ease-in-out;
}
.ser-enlace:hover {
    background-color: #9c5b0c;
}
.gap-ser {
    gap: 1.2rem;
}


/*-------------- FOOTER -----------------*/
footer {
    background-color: #FDFAE9;
}
.flex-2 {
    flex-direction: column;
}
.flex-2 h2 {
    font-size: clamp(18px, 3vw, 20px);
    text-transform: uppercase;
    color: #401e08;
    margin-top: 1rem;
    margin-bottom: 2.3rem;
}
.flex-2 > a {
    font-size: clamp(14px, 3vw, 16px);
    color: #401e08;
}
.footer {
    padding: 5rem;
}
.title-footer {
    font-size: clamp(22px, 3vw, 30px);
    color: white;
    text-transform: uppercase;
}
.text-footer {
    font-size: clamp(15px, 3vw, 22px);
    color: white;
    text-align: justify;
}
.footer-flex {
    gap: 2rem;
}
.footer-column-2 {
    grid-template-columns: 470px 350px;
    gap: 4rem;
}
.button-footer button {
    font-size: clamp(15px, 3vw, 20px);
    background-color: #f4e493;
    color: #401e08;
    padding-block: .8rem;
    padding-inline: 3rem;
    border-radius: 5rem;
    text-transform: uppercase;
    transition: all .3s
}
.button-footer button:hover {
    cursor: pointer;
    background-color: #efd15a;
}
.img-footer {
    position: relative;
}
.img-footer img {
    width: 30rem;
    position: absolute;
    left: -79px;
    top: -170px;
}
.footer-column-2-2 {
    grid-template-columns: repeat(2, auto);
    gap: 3.4rem;
}
.footer-column-3 {
    grid-template-columns: repeat(3, auto);
    gap: 8rem;
}
.fa-phone, .fa-envelope {
    font-size: clamp(27px, 3vw, 30px);
    color: #4E2A14;
}
.text-logo {
    font-size: clamp(15px, 3vw, 22px);
    color: #401e08;
}
.title-telefono {
    gap: 1.4rem;
    padding: 1rem;
    padding-inline: 1.4rem;
    color: #401e08;
}
.title-telefono div > a {
    font-size: clamp(18px, 3vw, 20px);
}
.title-email {
    gap: 1.4rem;
    padding: 1rem;
    padding-inline: 1.4rem;
    color: #401e08;
}
.title-email div > a {
    font-size: clamp(18px, 3vw, 20px);
}
.social-media {
    padding: 1rem;
}
.gap-footer {
    gap: 3rem;
}
.gap-footer-2 {
    gap: 5rem;
}
.gap-footer-3 {
    gap: 1.5rem;
}
.social {
    color: #4E2A14;
    background-color: #efd15a;
    font-size: 19px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    transition: all .4s ease-in-out;
}
.social-f:hover {
    background-color: #3b5998;
    color: #fdfbed;
}
.social-i:hover {
    background: #C13584;
    color: #fdfbed;
}
.social-w:hover {
    background-color: #25d366;
    color: #fdfbed;
}

@media (min-width: 1013px) {
    .my-footer {
        background-color: #6F2601;
        border-radius: 15px;
        padding-inline: 3.2rem;
        padding-block: 2.5rem;
        height: 100%;
    }

    .my-footer2 {
        padding-top: 12rem;
        padding-inline: 3.6rem;
    }
} 
@media (850px < width < 1012px) {
     /*-------------- HEADER --------------*/ 
     header {
        top: 0px;
        position: sticky;
        z-index: 1000;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 29px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 15rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    /*-------------- SERVICIOS --------------*/
    .ser-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 5rem;
    }
    /*-------------- FOOTER --------------*/ 
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        background-color: #6F2601;
        padding: 0;
        height: 100%;
        border-radius: 15px;
    }
    .footer-flex {
        padding: 3rem;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(3, auto);
        gap: 3rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}

@media (max-width: 849px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 29px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 15rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*-------------- SERVICIOS --------------*/
    .servicios {
        padding: 3rem;
    }
    .ser-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 5rem;
    }

    /*-------------- FOOTER --------------*/ 
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        border-radius: 0;
        padding: 0;
        height: 100%;
    }
    .footer-flex {
        background-color: #6F2601;
        border-radius: 15px;
        padding: 3rem;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column: inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 3rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}

@media (max-width: 649px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 29px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .navegation ul li > a {
        color: white;
    } 
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 15rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*-------------- SERVICIOS --------------*/
    .servicios {
        padding: 3rem;
    }
    .ser-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .item {
        background-color: #f7d54d;
        border-radius: 15px;
        padding: 30px;
        width: 300px;
        height: 330px;
        position: relative;
        top: 0rem;
        transition: all .3s ease-in-out;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgb(196, 196, 196);
    }
    .ser-logo {
        background-color: #fae98e;
        border-radius: 15px;
        height: 200px;
        transition: all .3s ease-in-out;
        border: 1px solid #c4c4c4;
    }
    .ser-logo img {
        width: 100%;
        border-radius: 15px;
        height: 200px;
        object-fit: fill;
    }
    

    /*-------------- FOOTER --------------*/ 
    .footer {
        padding: 3rem;
    }
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        height: 100%;
    }
    .footer-flex {
        background-color: #6F2601;
        padding: 3rem;
        border-radius: 15px;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 3.6rem;
    }
}

@media (max-width: 450px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .title-logo img {
        width: 10rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul li > a {
        color: white;
    } 
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 10rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*-------------- SERVICIOS --------------*/
    .servicios {
        padding: 3rem;
    }
    .ser-column-2 {
        grid-template-columns: repeat(1, auto);
        gap: 3.5rem;
    }
    .item {
        background-color: #f7d54d;
        border-radius: 15px;
        padding: 30px;
        width: 265px;
        height: 320px;
        position: relative;
        top: 0rem;
        transition: all .3s ease-in-out;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgb(196, 196, 196);
    }
    .ser-logo {
        height: 200px;
    }
    .ser-logo img {
        width: 100%;
        border-radius: 15px;
        height: 200px;
        object-fit: fill;
    }

    /*-------------- FOOTER --------------*/ 
    .footer {
        padding: 3rem;
    }
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        height: 100%;
    }
    .footer-flex {
        background-color: #6F2601;
        border-radius: 15px;
        padding: 3rem;
        width: 230px;
    }
    .title-footer {
        text-align: center;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 2rem;
        padding-inline: 1rem;
    }
}

@media (max-width: 350px) {
    /*-------------- HEADER --------------*/ 
    header {
        top: 0px;
        position: sticky;
        z-index: 1000;
        padding-inline: 1rem;
    }
    .title-logo img {
        width: 10rem;
    }
    .burger-icon {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .navegation > ul {
        position: fixed;
        background-color: black;
        top: 0;
        padding: 1rem;
        width: 50%;
        max-width: 300px;
        height: 100vh;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    #burgercheck:checked ~ ul  {
        left: 0;
    }
    .navegation ul li > a {
        color: white;
    } 
    .navegation ul .burger-center{
        padding-left: 1rem;
    }
    .flex-row-2 {
        flex-direction: column;
    }
    .center-nav {
        display: flex;
        place-content: center;
    }
    .logo-burger {
        display: inline-block;
    }
    .logo-burger-img img {
        width: 10rem;
    }
    .logo-burger-text {
        font-size: clamp(10px, 3vw, 19px);
    }
    .gap5rem {
        gap: 3rem;
    }
    .burger-center {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    /*-------------- SERVICIOS --------------*/
    .item {
        background-color: #f7d54d;
        border-radius: 15px;
        padding: 30px;
        width: 270px;
        max-width: 220px;
        height: 280px;
        position: relative;
        top: 0rem;
        transition: all .3s ease-in-out;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgb(196, 196, 196);
    }
    .ser-logo {
        background-color: #fae98e;
        border-radius: 15px;
        transition: all .3s ease-in-out;
        border: 1px solid #c4c4c4;
    }
    .ser-logo {
        height: 150px;
    }
    .ser-logo img {
        width: 100%;
        border-radius: 15px;
        height: 150px;
        object-fit: fill;
    }

    /*-------------- FOOTER --------------*/ 
    .footer {
        padding: 3rem;
    }
    .footer-column-2 {
        grid-template-columns: repeat(1, auto);
    }
    .img-footer {
        display: none;
    }
    .my-footer {
        height: 100%;
    }
    .footer-flex {
        background-color: #6F2601;
        border-radius: 15px;
        padding: 3rem;
        width: 180px;
    }
    .title-footer {
        text-align: center;
    }
    .center-text-footer {
        text-align: center;
    }
    .center-footer {
        display: grid;
        place-content: center;
    }

    .footer-column-2-2 {
        grid-column:inherit;
        grid-template-columns: repeat(1, auto);
        gap: 4rem;
    }
    .footer-column-3 {
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }
    .my-footer2 {
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-inline: 1rem;
    }
}